notes-node/node_modules/
notes-node/notes-data.json
weather-app/node_modules/
weather-app/key.js
node-web-server/node_modules/
node-web-server/server.log
nodes-test/node_modules/
node-todo-api/node_modules/
node-todo-api/server/config/config.json