<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>
    <body>
        {{> header}}
        <p>project text would go here</p>
        {{> footer}}
    </body>
</html>